
.head{
	width: 7.5rem;height: 0.88rem;
	position: fixed;top: 0;left: 0;
	/* position: static; */
	z-index: 100;
	/* background: palevioletred; */
	display: flex;justify-content: space-between;align-items: center;
}
.head-l{
	width: 0.8rem;height: 0.88rem;
	/* background: paleturquoise; */
}
.head-l p{
	width: 0.4rem;height: 0.36rem;
	margin: 0.28rem 0 0 0.3rem;
	background: url(../img/index.png)no-repeat;
	background-size: 0.4rem 0.36rem;
}
.head-c{
	width: 5.46rem;height: 0.6rem;
	background: #F7F7F7;
	border-radius: 0.88rem;
}
.head-r{
	width: 0.8rem;height: 0.88rem;
	/* background: paleturquoise; */
}
.head-r p{
	margin: 0.2rem 0;
    color: #fff;
    font-size: 0.28rem;
}
.logo1{
	width: 0.4rem;height: 0.3rem;
	margin: 0.16rem 0.16rem 0 0.3rem;
	background: url(../img/index1.png)no-repeat;
	background-size: 0.4rem 0.3rem;
	position: relative;
	float: left;
}
.logo1::after {
    content: "";
    position: absolute;
    border-right: 0.02rem solid #ddd;
    top: 0;
    left: 0.52rem;
    height: 0.32rem;
}
.logo2{
	width: 0.36rem;
    height: 0.3rem;
	background: url(../img/jd-sprites.png)no-repeat;
	background-size: 4rem;
	background-position: -1.6rem 0;
	margin: 0.16rem 0 0 0.1rem;
	float: left;
}
.logo-t{
	display: block;
	width: 3.9rem;height: 0.6rem;
	font-size: 0.24rem;
    color: #232326;
    padding-left: 0.1rem;
	margin: 0 0 0 0.1rem;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height: 0.6rem;
	border: 0;
    background: 0 0;
}
.box{
	width: 100%;
	height: 3.66rem;
	background: plum;
	position: relative;
}
.div{
	width: 800%;height: 3.66rem;
	position: absolute;top: 0;left: 0;
}
.div p{
	width: 12.5%;height: 3.66rem;
	float: left;
}
.div p img{
	width: 100%;height: 100%;
}
.btn{
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 0.6rem;
	left: 37%;
	z-index: 11;
	width: 26%;
	height: 0.15rem;
}
.btn p{
	width: 0.1rem;height: 0.1rem;
	border-radius: 0.1rem;
	margin: 0 0.04rem;
	border: 0.01rem solid #fff;
	display: inline-block;
	float: left;
	opacity: 1;
}
/* lunbo */
.swiper-container {
      width: 100%;
      height: 3.66rem;
}
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.swiper-slide img{
	width: 100%;height: 100%;
}
#position{
	bottom: 20px;
}
/* lunboend */
.manjian{
	width: 100%;height: 2rem;
	background: pink;
	position: relative;
    margin-top: -0.55rem;
    z-index: 12;
    border-radius: .25rem .25rem 0 0;
    overflow: hidden;
}
.manjian p{
	width: 33.33%;height: 2rem;
	float: left;
}
.manjian p img{
	width: 100%;height: 100%;
}
.manjian p:nth-child(1){
	border-radius: .25rem 0 0 0;
}
.manjian p:nth-child(3){
	border-radius: 0 .25rem 0 0;
}
.all{
	width: 100%;height: 3.24rem;
	background: url(../img/45e2b25de7a56489.jpg.jpg)no-repeat top center;
	background-size: 100% 100%;
}
.all a{
	display: block;
	width: 20%;height: 1.62rem;
	float: left;
}
.all a img{
	display: block;
	width: 0.8rem;height: 0.8rem;
	margin: auto;
	margin-top: 0.2rem;
}
.all a span{
	display: block;
	font-size: 0.25rem;
	margin-top: 0.15rem;
	text-align: center;
	color: #000000;
}
.news{
	margin: 0 0 0.2rem 0;
	padding: 0 0.125rem;
	height: 0.75rem;
	font-size: 0.3rem;
	position: relative;
}
.news1{
	width: 1.825rem;
    height: .4rem;
    position: absolute;
    top: .175rem;
    left: .2rem;
    display: block;
}
.news1 img{
	width: 1.825rem;
    height: .4rem;
}
.news-c{
	padding: 0 1.05rem 0 1.875rem;
    height: 0.75rem;
    overflow: hidden;
}
.news-c ul{
	list-style: none;
	animation: 8s HOT infinite linear;
}
@keyframes HOT{
	0%,25%{transform: translateY(0rem);}
	26%,50%{transform: translateY(-0.6rem);}
	51%,75%{transform: translateY(-1.2rem);}
	76%,100%{transform: translateY(-1.8rem);}
}
.news-c ul li{
	font-size: 0.3rem;
	line-height: 0.4rem;
	height: 0.4rem;
	margin: 0.2rem 0 0.15rem;
}
.news-c ul li a{
	color: #181818;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	font-size: 0.25rem;
	line-height: 0.4rem;
	height: 0.4rem;
}
.red{
	color: #f23030;
	padding: 0 0.15rem 0 0.2rem;
}
.news2{
	font-size: 0.3rem;
	color: #181818;
	position: absolute;
	right: 0.2rem;
	top: 0.175rem;
	line-height: 0.4rem;
}
.line{
	background: #ececec;
	width: 0.025rem;
	height: 0.4rem;
	display: inline-block;
	margin-right: 0.125rem;
	vertical-align: middle;
}
.gift{
	width: 100%;height: 2.4rem;
	display: flex;justify-content: space-between;
	align-items: center;
}
.gift p{
	width: 1.85rem;height: 2.4rem;
}
.gift p:nth-child(1){
	width: 3.73rem;
}
.gift p img{
	width: 100%;height: 100%;
}
.time{
	width: 100%;height: 3.2rem;
}
.title{
	width: 100%;height: 0.68rem;
	/* background: palegreen; */
}
.title a{
	display: block;
}
.title-l{
	width: 4rem;height: 0.68rem;
	float: left;
}
.title-l-t{
	margin: 0.05rem 0.075rem 0;
	display: inline-block;
	vertical-align: top;
	font-size: 0.38rem;
	color: #f02b2b;
	font-weight: 700;
	height: 0.6rem;
	line-height: 0.59rem;
	float: left;
}
.title-l1{
	font-size: 0.24rem;
	color: #232326;
	font-weight: 700;
	display: inline-block;
	height: 0.66rem;
	line-height: 0.66rem;
	vertical-align: top;
	float: left;
}
.timer{
	float: left;
	margin: 0.16rem 0 0 0.12rem;
}
.timer1{
	width: 0.36rem;height: 0.34rem;
	line-height: 0.34rem;
	color: #232326;
	font-size: 0.12rem;
	text-align: center;
	float: left;
	border: 0.01rem  solid #dfdfdf;
}
.timer2{
	display: block;
	float: left;
	width: 0.12rem;
	font-size: 0.12rem;
	line-height: 0.32rem;
	text-align: center;
	color: #232326;
}
.title-r{
	float: right;
	height: 0.66rem;
	line-height: 0.66rem;
	font-size: 0.24rem;
	text-align: right;
	padding-right: 0.44rem;
	position: relative;
	color: #f23030;
}
.title-r i{
	display: block;
	width: 0.22rem;height: 0.22rem;
	background: url(../img/arrow_rt.png)no-repeat;
	background-size: 100% 100%;
	position: absolute;top: 0.2rem;right: 0.08rem;
}
.food{
	width: 100%;height: 2.5rem;
}
.food ul{
	transition: all 0.3s ease 0s;
	transform: translate3d(0px, 0px, 0px);
    width: 17.97rem;
	position: relative;
    background-color: #fff;
    padding-left: .125rem;
}
.food ul li{
	float: left;
	width: 1.728rem;height: 2.5rem;
}
.food ul li:nth-child(11){
	width: 0.45rem;
	height: 1.5rem;
	padding-left: 0.22rem;
}
.food ul li:nth-child(11) a{
	display: block;
	text-decoration: none;
	color: #333;
}
.all-1{
	width: 0.4rem;
	height: 1.2rem;
	background: #f5f5f5;
	color: #666;
	font-size: 0.1rem;
	padding: 0.16rem 0;
}
.all-1 i{
	width: 0.24rem;height: 0.24rem;
	background: url(../img/jd-sprites_c4019063.png)no-repeat;
	background-position: -2.14rem -2.18rem;
	background-size: 4rem 4rem;
	display: block;
	margin: 0 0.07rem 0.03rem;
}
.all-1 span{
	margin: 0 0.1rem;
    display: block;
}
.food-img{
	width: 1.47rem;height: 1.4rem;
    padding: 0 .125rem;
}
.food-img img{
	width: 100%;height: 100%;
}
.food-text{
	margin: 0 auto;
    text-align: center;
	margin-top: 0.2rem;
	width: 1.47rem;height: 0.892rem;
    padding: 0 .125rem;
}
.food-text span{
	display: block;
	margin: auto;
}
.food-t1{
	color: #f23030;
	font-size: 0.32rem;
	line-height: 0.32rem;
	height: 0.32rem;
	text-align: center;
	font-weight: 700;
}
.food-t1 em{
	font-size: 0.22rem;
    padding-right: 0.04rem;
}
.food-t2{
	color: #686868;
	width: 50%;
	font-size: 0.24rem;
	line-height: 0.24rem;
	margin: auto;
	text-align: center;
	padding: 0 0.04rem;
	position: relative;
}
.food-t2 em{
	font-size: 0.18rem;
	padding-right: 0.04rem;
}
.food-t2 hr{
	position: absolute;
	left: 0;top: 0.12rem;
	width: 200%;
	height: 0.02rem;
	background-color: #686868;
	transform: scale(.5);
	transform-origin: left top;
}
.floor{
	width: 100%;height: 2.301rem;
	background: url(../img/e08159f295464d93.gif)no-repeat;
	background-size: 100% 100%;
}
.yard{
	width: 100%;height: auto;
	/* height: 5.52rem; */
	background: #F6F6F6;
}
.yard-t{
	width: 100%;height: 0.7rem;
}
.yard-t img{
	margin: auto;
	display: block;
	width: 3.84rem;height: 0.7rem;
}
.yard-d1{
	width: 100%;height: 2.42rem;
	display: flex;justify-content: space-between;
}
.dd1{
	width: 49.9%;height: 2.42rem;
	background: white;
}
.real-show{
	padding: .162rem 0 .125rem;
	height: 88%;width: 100%;
	/* background: palevioletred; */
}
.real-show-t{
	text-align: center;
	height: 0.76rem;
    width: 88%;
    overflow: initial;
	padding: 0 .25rem 0 .225rem;
}
.real-show-t strong{
	position: relative;
    padding: 0 0.5rem;
	font-size: .29rem;
	height: 0.45rem;
    line-height: 0.45rem;
    color: #222;
    display: block;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	font-weight: lighter;
}
.real-show-t strong span{
	display: inline-block;
    background-color: #fff;
    padding: 0 .1rem;
	height: 0.45rem;
    position: relative;
    z-index: 20;
}
.real-show-t strong span:before {
    display: inline-block;
    width: 0.45rem;
    height: 0.02rem;
    content: '';
    position: relative;
    background: #000;
    top: -0.1rem;
    left: -0.06rem;
	font-weight: lighter;
}
.real-show-t strong span:after {
    display: inline-block;
    width: 0.45rem;
    height: 0.02rem;
    content: '';
    position: relative;
    background: #000;
    top: -0.1rem;
    left: 0.05rem;
	font-weight: lighter;
}
.real-show-t p{
	color: #648EFF;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	font-size: .223rem;
    line-height: .412rem;
    height: .375rem;
}
.real-show-d{
	padding: 0 .25rem;
    clear: both;
	width: 86%;
    height: 1.301rem;
	margin-right: .125rem;
}
.real-show-d img{
	display: block;
	float: left;
	width: 1.3rem;
    height: 1.3rem;
    float: left;
    margin: .13rem .15rem 0;
}
.yard-d2{
	width: 100%;height: 2.4rem;
	/* background: palevioletred; */
	display: flex;justify-content: space-between;align-items: center;
}
.yd{
	/* position: relative; */
    width: 24.843%;
    /* float: left; */
	height: 2.4rem;
	background: #fff;
}
.yd-c{
	padding: .162rem 0 .125rem .25rem;
}
.yd-t{
	width: 1.656rem;height: 0.76rem;
}
.yd-t strong{
	font-size: .3rem;
    /* line-height: 0.562rem; */
    color: #222;
    display: block;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	font-weight: lighter;
}
.yd-t p{
	color: #648EFF;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	font-size: .25rem;
    /* line-height: .4125rem; */
    height: .375rem;
}
.yd-d{
	width: 1.2rem;
    height: 1.2rem;
    margin: .3rem .1rem 0;
}
.yd-d img{
	width: 100%;height: 100%;
}
.real-show-t span{
	font-size: .3rem;
    /* line-height: 1.125rem; */
    color: #222;
    display: block;
    height: 0.45rem;
    line-height: 0.45rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.rst{
	text-align: start;
}
.rst p{
	color: #FF5959;
	font-size: 0.25rem;
}
.rst1{
	text-align: start;
	width: 41%;
	float: left;
}
.rst1 span{
	font-size: 0.3rem;
}
.rst1 p{
	color: #D663E1;
	font-size: 0.25rem;
}
#rst2{
	width: 42%;height: 2.42rem;
	float: left;
	padding: 0;
	clear: none;
}
#rst2 img{
	margin: .212rem 0 0 0;
	width: 100%;height: 75%;
}
.rst3 p{
	color: #D663E1;
	font-size: 0.25rem;
}
.commonNav{
	width: 100%;height: 1rem;
	margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 31;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0 0 0.2rem 0 hsla(0,6%,58%,.6);
}
.commonNav a{
	width: 19.8%;height: 1rem;
	float: left;
    font-size: 0.32rem;
    background-color: transparent;
    text-align: center;
}
.commonNav a img{
	width: 1.2rem;height: 0.92rem;
	display: block;
	margin: auto;
	margin-top: 0.04rem;
}